header{
    background-color: blueviolet ;
    color: aqua;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

main{
    background-color: aliceblue;
    color: blue;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

img{
    display: block;
    width: 250px;
    margin: 0 auto;
    border: 4px solid #090435;
    height: 300p
}